@layer theme, base, radix-themes, components, utilities;

@import "tailwindcss";
/*
*
* https://tailwindcss.com/docs/preflight#disabling-preflight
* By default, this is what @import "tailwindcss"; injects:
*
* @layer theme, base, components, utilities;
* @import "tailwindcss/theme.css" layer(theme);
* @import "tailwindcss/preflight.css" layer(base);
* @import "tailwindcss/utilities.css" layer(utilities);
*
* */

/* https://www.radix-ui.com/themes/docs/theme/color#individual-css-files */
@import "@radix-ui/themes/tokens/base.css" layer(radix-themes);

@import "@radix-ui/themes/tokens/colors/blue.css" layer(radix-themes); /* accent color */
@import "@radix-ui/themes/tokens/colors/slate.css" layer(radix-themes); /* gray color */
@import "@radix-ui/themes/tokens/colors/crimson.css" layer(radix-themes); /* red */
@import "@radix-ui/themes/tokens/colors/jade.css" layer(radix-themes); /* green */
@import "@radix-ui/themes/tokens/colors/indigo.css" layer(radix-themes); /* blue */

/* Rest of the CSS */
@import "@radix-ui/themes/components.css" layer(radix-themes);
@import "@radix-ui/themes/utilities.css" layer(radix-themes);

@import "./colors.css";

@theme inline {
  --color-*: initial;
  --container-max-width-2xl: 1400px;

  /* Animations */
  --animate-collapsible-slide-up: collapsibleSlideUp 150ms ease-out;
  --animate-collapsible-slide-down: collapsibleSlideDown 150ms ease-out;

  @keyframes collapsibleSlideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }
  @keyframes collapsibleSlideUp {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
}

@import "radix-themes-tw/theme.css"; /* <-- import the preset */

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    ::-webkit-scrollbar {
      width: 5px;
    }
    ::-webkit-scrollbar-track {
      background: transparent;
    }
    ::-webkit-scrollbar-thumb {
      background: hsl(var(--gray-6));
      border-radius: 5px;
    }
    * {
      scrollbar-width: thin;
      scrollbar-color: hsl(var(--gray-6)) transparent;
    }
  }
}

@layer components {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

  @media (min-width: 1400px) {
    .container {
      max-width: var(--container-max-width-2xl);
    }
  }

  .rt-TextFieldRoot {
    z-index: 0;
  }

  .rt-BaseButton:where(.rt-variant-solid):where([data-disabled]) {
    color: var(--gray-8);
  }

  .rt-BaseButton:where(.rt-variant-soft, .rt-variant-ghost) {
    color: var(--accent-11);
  }
}
